@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.montserrat-fontsfamily {
    font-family: "Montserrat", sans-serif;
    font-style: normal;

    
}

/* overlay flash effect */
@keyframes overlay-blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
